<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑作者的话</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet"> -->
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <style>
    html,
    body {
      background-color: #fff;
      height: 100%;
      overflow: hidden;
      color: #333;
    }

    #top-container {
      border-bottom: 1px solid #e8e8e8;
      padding-left: 30px;
    }

    #editor-toolbar {
      width: 100%;
      background-color: #FCFCFC;
      margin: 0 auto;
    }

    #content {
      height: calc(100% - 40px);
      background-color: rgb(245, 245, 245);
      overflow-y: auto;
      position: relative;
    }

    #editor-container {
      width: 850px;
      margin: 30px auto 150px auto;
      background-color: #fff;
      padding: 20px 50px 50px 50px;
      border: 1px solid #e8e8e8;
      box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
    }

    #title-container {
      padding: 20px 0;
      border-bottom: 1px solid #e8e8e8;
    }

    #title-container input {
      font-size: 30px;
      border: 0;
      outline: none;
      width: 100%;
      line-height: 1;
    }

    #editor-text-area {
      min-height: 900px;
      margin-top: 20px;
    }
    

  </style>
</head>
<link href="/layui/css/layui.css" rel="stylesheet"/>
<body>
<input type="hidden" id="maxCommentValue" value="0"/>
<div id="top-container">
<!-- 头部的编辑 -->
</div>
<div style="border-bottom: 1px solid #e8e8e8;">
    <div style="float: left;line-height: 40px;height: 40px;width:40px">
        <input type="button" style="background-color: white;border: none;color: #a2a2a2;"class="w-e-menu-tooltip-v5" value="保存" onclick="saveData()">
    </div>

    <div style="float: left;line-height: 40px;height: 40px;" title="插入行评论">
<!--        <input type="button" style="background-color: white;border: none;color: #a2a2a2;"class="w-e-menu-tooltip-v5" value="评论" onclick="saveData()">-->
        <i  onclick="addCommenthtml()" style="color:#B5B5B5;" class="layui-icon layui-icon-reply-fill"></i>

    </div>


    <div id="editor-toolbar"></div>
</div>
<div id="content">
    <div id="editor-container">

        <div id="editor-text-area"></div>
    </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script> -->
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
    const E = window.wangEditor

    // 切换语言
    const LANG = location.href.indexOf('lang=en') > 0 ? 'en' : 'zh-CN'
    E.i18nChangeLanguage(LANG)

    const editorConfig = {
      placeholder: 'Type here...',
      scroll: false, // 禁止编辑器滚动
      MENU_CONF: {
        uploadImage: {
          fieldName: 'your-fileName',
          base64LimitSize: 10 * 1024 * 1024 // 10M 以下插入 base64
        }
      },
      onChange(editor) {
        //console.log(editor.getHtml())
      }
    }

    // 先创建 editor
    const editor = E.createEditor({
      selector: '#editor-text-area',
      content: [],
      // html: '',
      config: editorConfig
    })

    // 创建 toolbar
    const toolbar = E.createToolbar({
      editor,
      selector: '#editor-toolbar',
      config: {
        excludeKeys: ['fullScreen','uploadVideo','uploadImage']
      }
    })

    // 点击空白处 focus 编辑器
    document.getElementById('editor-text-area').addEventListener('click', e => {
      if (e.target.id === 'editor-text-area') {
        editor.blur()
        editor.focus(true) // focus 到末尾
      }
    })

    //排除某个key的尝试




  </script>

</body>
<script src="/javascript/jquery-1.8.0.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    //console.log(toolbar.getConfig().toolbarKeys);
    var pathname = window.location.pathname;
    var bookId = pathname.substring(pathname.lastIndexOf("/") + 1, pathname.lastIndexOf("."))
    function addCommenthtml(){

        document.getElementById("maxCommentValue").value=parseInt(document.getElementById("maxCommentValue").value,10)+1;
        editor.dangerouslyInsertHtml('<p>||此处插入评论框...'+document.getElementById("maxCommentValue").value+'||</p>');


    }
    //alert(bookId);
    //查询用户信息
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if(data.data.userPhoto){
                    $("#imgLogo").attr("src",data.data.userPhoto);
                }
                if(data.data.nickName){
                    $("#my_name").html(data.data.nickName+"<em class=\"ml10\">[修改]</em>");
                }else{
                    $("#my_name").html(data.data.username+"<em class=\"ml10\">[修改]</em>");
                }
                if(data.data.userSex === '0'){
                    $("#my_sex").html("男<em class=\"ml10\">[修改]</em>");
                }else if(data.data.userSex === '1'){
                    $("#my_sex").html("女<em class=\"ml10\">[修改]</em>");
                }else{
                    $("#my_sex").html("请选择");
                }
                //获取数据库里的html部分
                getData();


            } else if (data.code == 1001) {
                //未登录
                location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })
    function getData(){
        $.ajax({
            type: "get",
            url: "/author/getShuyouquanHtml",
            data: {'bookId':bookId},
            dataType: "json",
            success: function (returndata) {
                if(returndata!=""&&returndata!=null&&returndata.data!=''&&returndata.data!=null){
                    //访问后传回一个列表
                    //alert("获取内容成功");
                    //console.log(returndata);
                    editor.setHtml(returndata.data);
                    setCommentMaxValue();

                }

            },
            error: function () {
                lock = false;
                //删除了下面这一行,可能会有问题,以后再处理吧  TODO
                //layer.alert('网络异常');
                alert("erro");
            }
        })


    }
    function saveData(){
        var ShuyouquanContent=editor.getHtml();
        //alert("点击成功");
        editor.getHtml();
        //将html写入,
        $.ajax({
            type: "post",
            url: "/author/setShuyouquanHtml",
            data: {'bookId':bookId,'ShuyouquanContent':ShuyouquanContent},
            dataType: "json",
            success: function (returndata) {
                if(returndata!=""){
                    //访问后传回一个列表
                    alert("上传成功");

                }

            },
            error: function () {
                lock = false;
                //删除了下面这一行,可能会有问题,以后再处理吧  TODO
                //layer.alert('网络异常');
                alert("erro");
            }
        })


    }
    function setCommentMaxValue(){
        var waitHml=editor.getText();
        waitHml.replace(/\|\|此处插入评论框...\w\|\|/g, function(word){
                num1 = word.replace(/[^\d]/g,' ');
                if(document.getElementById("maxCommentValue").value<parseInt(num1,10)){
                    document.getElementById("maxCommentValue").value=parseInt(num1,10);
                }

                return null;
        });
    }
</script>
</html>