<div th:fragment="left" style="float:left;width: 25%;">
    <div style="width: 80%;font-size: 14px;display:none;">
        <p >
            可以显示在左侧栏的内容
        </p>
    </div>
</div>
<div th:fragment="left2" style="float:left;">
    <div style="width: 80%;font-size: 14px;display:none;">
        <p >
            可以显示在左侧栏的内容

        </p>
    </div>
</div>
<div th:fragment="authoraddcontent" style="float:left;">
    <div style="width: 80%;font-size: 14px;">
        <p >
            充值系统正在开发中,建议将付费章节链接到其他网站
        </p>
    </div>
</div>